<span class='title'>Contacts</span>
<span class='add' {{action 'openAddContact'}}><i class="fa fa-plus clickable"></i></span>
<div class='contacts base'>
    <div class='fixtable-container'>
          {{fixtable-grid 
            tableClass='table-hover'
            columns=columnDefs 
            content=contacts
            clicked=(action "clicked")
          }}
    </div>
</div>

{{#generic-Modal submit=(action 'addContact') save=true open=formOpen title='Create A Contact'}}
  <div class='user-attributes'>
    <div class='attribute'>
        {{input type="text" value=newUser.firstName size="50" placeholder='First Name'}}
    </div>
    <div class='attribute'>
        {{input type="text" value=newUser.lastName size="50" placeholder='Last Name'}}
    </div>
    <div class='attribute'>
        {{input type="text" value=newUser.email size="50" placeholder='Email'}}
    </div>
    <div class='attribute'>
        {{input type="text" value=newUser.address size="50" placeholder='Address'}}
    </div>
    <div class='attribute'>
        {{input type="text" value=newUser.phoneNumber size="50" placeholder='Phone Number'}}
    </div>
    <div class='attribute'>
        {{input type="text" value=newUser.company size="50" placeholder='Company'}}
    </div>
  </div>
{{/generic-Modal}}