<div class='sidebar-inner'>
    <p><span class='clickable' {{action 'navigate' 'index'}}><i class="fa fa-home "></i></span></p>
    <p><span class='clickable' {{action 'navigate' 'users'}}><i class="fa fa-users "></i></span></p>
    <p><span class='clickable' {{action 'navigate' 'issues'}}><i class="fa fa-snapchat-ghost"></i></span></p>
    <p><span class='clickable' {{action 'navigate' 'activities'}}><i class="fa fa-clock-o "></i></span></p>
    <div class='bottom'>
        <p><span class='clickable' {{action 'togglePhone'}}><i class="fa fa-phone"></i></span></p>
    </div>
</div>